<h2>Paso 1 - Minimos de las filas/columnas</h2>
<hr>
<br>
<h2><small>Minimo de las filas</small></h2>

<div class="col-md-12">{{u_i}}</div>

<table class="table row col-md-12">  
    <th *ngFor="let key of keys">
        {{letra_columnas}}{{key}}        
    </th>  
    <tr *ngFor="let keyi of keys">
        {{letra_filas}}{{keyi}}
        <td *ngFor="let keyj of keys">
            <p>{{ matrizPaso1_f[keyi-1][keyj-1] }}</p>
        </td>        
    </tr>
</table>

<h2><small>Minimo de las columnas</small></h2>

<div class="col-md-12">{{v_j}}</div>

<table class="table row col-md-12">  
    <th *ngFor="let key of keys">
        {{letra_columnas}}{{key}}        
    </th>  
    <tr *ngFor="let keyi of keys">
        {{letra_filas}}{{keyi}}
        <td *ngFor="let keyj of keys">
            <p>{{ matrizPaso1_c[keyi-1][keyj-1] }}</p>
        </td>        
    </tr>
</table>